<%= form_for(vlog) do |f| %>
  <% if vlog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vlog.errors.count, "error") %> prohibited this vlog from being saved:</h2>

      <ul>
      <% vlog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group text-align-left">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group text-align-left">
    <%= f.label :youtube_link %>
    <%= f.text_field :youtube_link, class: 'form-control' %>
  </div>

  <div class="form-group text-align-left">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %></textarea>
  </div>

  <div class="form-group center">
    <%= f.label :avatar, " Attach cartoon", class: 'fa fa-cloud-upload btn btn-outline-primary'  %>
    <%= f.file_field :avatar %>
  </div>

  <div class="form-group center">
    <%= f.label :thumbnail, " Attach video thumbnail", class: 'fa fa-cloud-upload btn btn-outline-info'  %>
    <%= f.file_field :thumbnail %>
  </div>

  <%= f.submit 'Save Vlog', class: 'btn btn-primary save-button-margin remove-nasty-btn' %>

<% end %>
