<%= form_for(vlog) do |f| %>
  <% if vlog.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vlog.errors.count, "error") %> prohibited this vlog from being saved:</h2>

      <ul>
      <% vlog.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :youtube_link %>
    <%= f.text_field :youtube_link, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, class: 'form-control' %></textarea>
  </div>

  <div class="form-group">
    <%= f.label :nicolas_avatar, "Petit dessin" %>
    <%= f.file_field :avatar, class: 'form-control' %>
  </div>

  <%= f.submit 'Save Vlog', class: 'btn btn-primary' %>

<% end %>
