<div class="card">
  <figure>
  <%= image_tag(vlog.thumbnail_url.to_s, style: "width: 100%;border-bottom: 1px solid black;") %>
  <figcaption class="container-figcaption-vlog">
    <h4 class="center"><%= vlog.title %></h4>
    <p>
      <div class="row">
        <% if user_signed_in? %>
          <div class="col-4">
          <%= link_to fa_icon('pencil-square-o'), edit_vlog_path(vlog) %>
          </div>
          <div class="col-4">
            <%= link_to vlog.youtube_link, target: :_blank do %>
            <%= fa_icon "youtube" %>
            <% end %>
          </div>
          <div class="col-4">
            <%= link_to fa_icon('trash'), vlog, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </div>
        </div>
      </p>

      <p><%= markdown(vlog.description) %></p>
  </figcaption>
  <%= link_to image_tag(vlog.avatar_url.to_s, style: "width: 100%;border-bottom: 1px solid black;"),vlog_path(vlog), style:'margin-left:0; padding-left:0;' %>
</figure>
</div>
