<div class="col-xs-12 col-sm-6 col-md-4 portfolio-item">
  <div class="card card-no-left-margin card-small-bottom-margin card-black-border" style="width: 20rem;">
    <%= image_tag(vlog.avatar_url.to_s, style: "width: 100%") %>
    <div class="card-block">
    <h2 class="card-title"> <%= vlog.title %></h2>
    <div class="row">
      <div class="col-5">
        <% if user_signed_in? %>
        <%= link_to fa_icon('eye'), vlog_path(vlog) %>
        <%= link_to fa_icon('pencil-square-o'), edit_vlog_path(vlog) %>
        <%= link_to fa_icon('trash'), vlog, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </div>
    <div class="col-2">
      <%= link_to vlog.youtube_link, target: :_blank do %>
      <%= fa_icon "youtube" %>
      <% end %>
    </div>

    </div>
      <p class="card-text"><%= markdown(vlog.description) %></p>
    </div>
  </div>
</div>
