<div class="col-xs-12 col-sm-6 col-md-4 portfolio-item">
  <div class="card" style="width: 20rem;">
    <%= image_tag(vlog.avatar_url.to_s, class: "smallies") %>
      <div class="card-block">
        <h4 class="card-title"> <%= vlog.title %></h4>
        <p class="card-text"><%= markdown(vlog.description) %></p>
        <%= link_to vlog.youtube_link, target: :_blank do %>
        <%= fa_icon "youtube" %>
        <% end %>
      </div>
  </div>
</div>