
  <div class="card">
    <%= image_tag(vlog.avatar_url.to_s, style: "width: 100%") %>
    <div class="card-block">
      <h4 class="card-title"><%= vlog.title %></h4>
      <p class="card-text">
        <div class="row">
          <div class="col-5">
            <% if user_signed_in? %>
            <%= link_to fa_icon('eye'), vlog_path(vlog) %>
            <%= link_to fa_icon('pencil-square-o'), edit_vlog_path(vlog) %>
            <%= link_to fa_icon('trash'), vlog, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </div>
          <div class="col-2">
            <%= link_to vlog.youtube_link, target: :_blank do %>
            <%= fa_icon "youtube" %>
            <% end %>
          </div>
        </p>
        <p class="card-text"><%= markdown(vlog.description) %></p>
        <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
      </div>
    </div>
  </div>
