<p id="notice"><%= notice %></p>

<div class="container">

    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Vlog
                <small>My bootcamp journey</small>
            </h1>
        </div>
    </div>
    <%= link_to 'New Vlog', new_vlog_path %>

    <div class="row">
      <% @vlogs.each do |vlog| %>
        <div class="col-xs-12 col-sm-6 col-md-4 portfolio-item">
            <div class="card" style="width: 20rem;">
              <%= image_tag(vlog.avatar_url.to_s) %>
              <div class="card-block">
                <h4 class="card-title"> <%= vlog.title %></h4>
                <p class="card-text"><%= vlog.description %></p>
                <%= link_to vlog.youtube_link, target: :_blank do %>
                  <%= fa_icon "youtube" %>
                <% end %>
                <a href="#" class="btn btn-primary">Rating</a>
                <%= link_to vlog do %>
                  <%= fa_icon "eye" %>
                <% end %>
                <%= link_to edit_vlog_path(vlog) do %>
                  <%= fa_icon "pencil" %>
                <% end %>
                <%= link_to vlog, method: :delete, data: { confirm: 'Are you sure?' } do %>
                  <%= fa_icon "trash" %>
                <% end %>
              </div>
            </div>
          </div>
        <% end %>
        </div>
    </div>

    <hr>
    <%= paginate @vlogs %>
    <hr>

</div>
