<div class="blog-post container-95 center">
  <h2 class="blog-post-title"><%= link_to blog.title.upcase, blog_path(blog) %></h2>
  <div class="row">
      <p class="blog-post-meta">Published <%= distance_of_time_in_words(blog.created_at, Time.now) %> ago
        <% if user_signed_in? %>
        <%= link_to fa_icon('pencil-square-o'), edit_blog_path(blog) %>
        <%= link_to fa_icon('trash'), blog, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </p>
  </div>


        <div class="row justify-content-md-center">
          <div class="col-12 col-md-auto text-center">
            <% if blog.topic.present? %>
            <%= image_tag(blog.topic.avatar_url.to_s, class: 'smallies') %>
            <% end %>
          </div>

        <div class="col-12 col-md-auto">
          <%= markdown(HTML_Truncator.truncate(blog.body, 100)) %>
          <div class="center">
            <%= link_to 'Read more', blog_path(blog), class: 'btn btn-secondary btn-just-shadow' %>
          </div>
        </div>
      </div>
</div>
<hr>
