<div class="blog-post">
  <h2 class="blog-post-title"><%= link_to blog.title.upcase %></h2>
    <p class="blog-post-meta">Published <%= distance_of_time_in_words(blog.created_at, Time.now) %> ago</p>
      <div class="row">
        <div class="col-sm-6">
          <% if blog.topic.present? %>
          <p><%= image_tag(blog.topic.avatar_url.to_s, class: 'smallies') %>
          <% end %>
          </p>
        </div>
        <div class="col-sm-6">
          <p class="blog-post-meta">
            <% if current_user.role == 'admin' %>
            <%= link_to fa_icon('eye'), blog_path(blog) %>
            <%= link_to fa_icon('pencil-square-o'), edit_blog_path(blog) %>
            <%= link_to fa_icon('trash'), blog, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
          </p> 
        </div>
      </div>

      <p><%= markdown(blog.body) %></p>     
</div>