<h1 class="section-title-no-margin">Blogs</h1>
<div class="row">
  <div class="col-md-9 col-sm-7 col-xs-12">
    <div class="btn-center">
      <% if user_signed_in? %>
      <%= link_to 'New Blog', new_blog_path, class: 'btn btn-danger btn-margin-bottom' %>
      <% end %>
    </div>

    <% @blogs.each do |blog| %>
      <%= render "blog", blog: blog %>
    <% end %>
  </div>

  <%= paginate @blogs %>


  <div class="col-md-3 col-sm-5 col-xs-12">
  <% if user_signed_in? %>
  <h1 class="section-title-no-margin"><%= link_to 'Topics', topics_path %></h1>
  <% end %>

  <% @topics.each do |topic| %>
    <%= render "topic", topic: topic %>
  <% end %>
  </div>

</div>
