<div class="container-90 center">
<h1 class="section-title-no-margin">Blogs</h1>
<div class="row">
  <div class="col-md-9 col-sm-7 col-xs-12">
    <div class="btn-center">
      <%= link_to 'Show all blogs', blogs_path, class: 'btn btn-info btn-margin-bottom' %>
      <% if user_signed_in? %>
      <%= link_to 'New Blog', new_blog_path, class: 'btn btn-outline-info btn-margin-bottom' %>
      <% end %>
    </div>

    <% @blogs.each do |blog| %>
      <%= render "blog", blog: blog %>
    <% end %>
  </div>

<div class="pagination-xs">
  <div class="pagination">
    <%= paginate @blogs %>
  </div>
</div>


  <div class="col-md-3 col-sm-5 col-xs-12">
    <div class="container-95">
      <% if user_signed_in? %>
      <h1 class="section-title-no-margin"><%= link_to 'Topics', topics_path %></h1>
      <% end %>
    </div>

  <% @topics.each do |topic| %>
    <%= render "topic", topic: topic %>
  <% end %>
  </div>

</div>

<div class="pagination-sm-md-lg">
  <div class="pagination">
    <%= paginate @blogs %>
  </div>
</div>
</div>
