<h1>Blogs</h1>
<div class="row">
  <div class="col-md-9 col-sm-7 col-sm-12">
    <%= link_to 'New Blog', new_blog_path, class: 'btn btn-primary' %>

    <% @blogs.each do |blog| %>
      <div class="blog-post">
        <h2 class="blog-post-title"><%= link_to blog.title.upcase, blog %></h2>
        <p class="blog-post-meta">Published <%= distance_of_time_in_words(blog.created_at, Time.now) %> ago</p>
          <p class="blog-post-meta">
          <%= link_to 'Show', blog %>
          <%= link_to 'Edit', edit_blog_path(blog) %>
          <%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %>
          </p>
        <p>
          <%= blog.body %>
        </p>
        <% if blog.topic.present? %>
        <p><%= blog.topic.title %>
        <% end %>
        </p>
      </div>
    <% end %>
  </div>
  <div class="col-md-3 col-sm-5 col-xs-12">
    <%= link_to 'Topics', topics_path, class: 'btn btn-info' %>

    <% @topics.each do |topic| %>
      <div class="card">
        <div class="card-block">
          <%= link_to topic.title, topic_path(topic.id) %>
          <%= image_tag(topic.avatar_url.to_s, class: 'smallies') %>
          <%= link_to "See blogs", blogs_path, class: 'btn btn-success' %>
        </div>
      </div>
    <% end %>
  </div>
</div>
  <hr>
  <%= paginate @blogs %>
  <hr>
