<!-- <%= render "blog", :blog => @blog %> -->

<div class="blog-post container-95 center">
  <h2 class="blog-post-title"><%= link_to @blog.title.upcase, blog_path(@blog) %></h2>
  <div class="row">
      <p class="blog-post-meta center">Published <%= distance_of_time_in_words(@blog.created_at, Time.now) %> ago
        <% if user_signed_in? %>
        <%= link_to fa_icon('pencil-square-o'), edit_blog_path(@blog) %>
        <%= link_to fa_icon('trash'), @blog, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
      </p>
  </div>

      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-12 col-md-auto text-center">
            <% if @blog.topic.present? %>
            <%= image_tag(@blog.topic.avatar_url.to_s, class: 'smallies') %>
            <% end %>
          </div>
        </div>
      </div>

      <div class="col-12 col-md-auto">
        <div class="truncator-wrapper blog-p">
          <%= markdown(@blog.body) %>
        </div>
      </div>
    <%= link_to "Back to blogs", blogs_path, class: 'btn btn-secondary' %>
</div>
<hr>
