<div class="container-90 center">
  <%= form_for(topic) do |f| %>
    <% if topic.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(topic.errors.count, "error") %> prohibited this topic from being saved:</h2>

        <ul>
        <% topic.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group text-align-left">
      <%= f.label :title %>
      <%= f.text_field :title, class: 'form-control' %>
    </div>


    <div class="form-group text-align-left">
      <%= f.label :icon, "Technology icon" %>
      <%= f.file_field :avatar, class: 'form-control' %>
    </div>

    <%= f.submit 'Save Topic', class: 'btn btn-primary remove-nasty-btn' %>

  <% end %>
</div>
