<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">cP</a>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <%= link_to "Home", root_path, class: 'nav-item nav-link active' %>
      <%= link_to "About", about_me_path, class: 'nav-item nav-link' %>
      <%= link_to "Contact", contact_path, class: 'nav-item nav-link' %>
      <%= link_to "Blog", blogs_path, class: 'nav-item nav-link' %>
      <%= link_to "Vlog", vlogs_path, class: 'nav-item nav-link' %>
      <%= link_to "Portfolio", portfolios_path, class: 'nav-item nav-link' %>
    </div>
  </div>
</nav>
